<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tlsbx-http-trigger-listener.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3d512b37-f6d3-4e44-b0c2-b196096b133a/resourceGroups/tlsbx-poc-rg/providers/Microsoft.Web/sites/tlsbx-http-trigger-listener</ResourceId>
    <UserName>$tlsbx-http-trigger-listener</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tlsbx-http-trigger-listener.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>